{% extends 'homeapp/_layout.html' %}
{% load static %}

{% block content %}


<section class="blog">
    <div class="container">
        <div class="row flex-row-reverse">
            <div class="col-lg-8">
                <div class="listing-inner">
                <div class="list-results d-flex align-items-center justify-content-between">
                    <div class="list-results-sort">
                        <p class="m-0">Showing 1-5 of 80 results</p>
                    </div>
                    <div class="click-menu d-flex align-items-center justify-content-between">
                        <div class="change-list f-active me-2"><a href="listing-leftfilter.html"><i class="fa fa-bars"></i></a></div>
                        <div class="change-grid me-2"><a href="grid-leftfilter.html"><i class="fa fa-th"></i></a></div>
                        <div class="sortby d-flex align-items-center justify-content-between ml-2">
                            <select class="niceSelect" style="display: none;">
                                <option value="1">Sort By</option>
                                <option value="2">Average rating</option>
                                <option value="3">Price: low to high</option>
                                <option value="4">Price: high to low</option>
                            </select><div class="nice-select niceSelect" tabindex="0"><span class="current">Sort By</span><ul class="list"><li data-value="1" class="option selected">Sort By</li><li data-value="2" class="option">Average rating</li><li data-value="3" class="option">Price: low to high</li><li data-value="4" class="option">Price: high to low</li></ul></div> 
                        </div>
                    </div>
                </div>
                <div class="blog-full mb-4 border-b pb-4">
                    <div class="row">
                        <div class="col-lg-5 col-md-4">
                           <div class="blog-image">
                                <a href="#" style="background-image: url(images/trending/trending1.jpg);"></a>
                            </div> 
                        </div>
                        <div class="col-lg-7 col-md-8">
                            <div class="blog-content">
                                <h5 class="theme mb-2">Villa</h5>
                                
                                <h4 class="mb-2"><a href="detail-rightside.html" class="">7012 Shine Sehu Street, Liverpool London, LC345AC</a></h4>
                                <div class="d-flex align-items-center justify-content-between border-b pb-1 mb-2">
                                    <div class="entry-price">
                                        Start From<span class="d-block theme fw-bold">$63,000.00</span>
                                    </div>
                                    <div class="entry-metalist d-flex align-items-center">
                                        <ul>
                                            <li class="me-2"><i class="fa fa-eye"></i></li>
                                            <li class="me-2"><i class="fa fa-heart"></i></li>
                                        </ul>
                                    </div>
                                </div>
                                <p class="mb-2">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>  
                                <ul class="d-flex align-items-center justify-content-between bg-grey p-3 px-4">
                                    <li class="me-2"><i class="fa fa-eye"></i> 3 Beds</li>
                                    <li class="me-2"><i class="fa fa-heart"></i> 2 Baths</li>
                                    <li><i class="fa fa-comments"></i> 600 Sq Ft</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                




                <div class="pagination-main text-center">
                    <ul class="pagination">
                        <li><a href="#"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
            </div>

            <!-- sidebar starts -->
            <div class="col-lg-4 col-md-12">
                <div class="sidebar-sticky">
                    <div class="list-sidebar">
                        <div class="sidebar-item mb-4 box-shadow p-4 text-centerb">
                          
                          
                          
                            {% include 'homeapp/partials/_filter.html' %}
                          


                        </div>

                        <div class="sidebar-item trending">
                            <h3 class="">Related Property</h3>
                            <div class="trend-box">
                                <div class="about-slider slick-initialized slick-slider">
                                    <div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 2050px; transform: translate3d(-410px, 0px, 0px);"><div class="slick-slide slick-cloned" data-slick-index="-1" id="" aria-hidden="true" tabindex="-1" style="width: 410px;">
                                        <div class="trend-item box-shadow">
                                            <div class="trend-image">
                                                <img src="images/trending/trending2.jpg" alt="image">
                                                <a href="#" class="flash bg-theme1 white px-3 py-2" tabindex="-1"><i class="fa fa-flash"></i></a>
                                                <div class="trend-meta d-flex align-items-center justify-content-between">
                                                    <div class="entry-author">
                                                        <img src="images/reviewer/2.jpg" alt="" class="rounded-circle me-1">
                                                        <span>Jenny Lofar</span>
                                                    </div>
                                                    <a href="grid-leftfilter.html" class="tags bg-theme2 white px-3 py-1" tabindex="-1">For Rent</a>
                                                </div>
                                            </div>
                                            <div class="trend-content p-4">
                                                <h5 class="theme">Villa</h5>
                                                <h4><a href="detail-rightside.html" tabindex="-1">1244 Vansh Market, Mise Mizkel Australia, AU456HA</a></h4>
                                                <div class="entry-meta d-flex align-items-center justify-content-between border-b pb-1 mb-2">
                                                    <div class="entry-author">
                                                        <p>Start From<span class="d-block theme fw-bold">$52,000.00</span></p>
                                                        
                                                    </div>
                                                    <div class="entry-metalist d-flex align-items-center">
                                                        <ul>
                                                            <li class="me-2"><i class="fa fa-eye"></i></li>
                                                            <li class="me-2"><i class="fa fa-heart"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <p class="mb-0">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</p>
                                            </div>
                                            <ul class="d-flex align-items-center justify-content-between bg-grey p-3 px-4">
                                                <li class="me-2"><i class="fa fa-eye"></i> 3 Beds</li>
                                                <li class="me-2"><i class="fa fa-heart"></i> 2 Baths</li>
                                                <li><i class="fa fa-comments"></i> 600 Sq Ft</li>
                                            </ul>
                                        </div>
                                    </div><div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 410px;">
                                        <div class="trend-item box-shadow">
                                            <div class="trend-image">
                                                <img src="images/trending/trending2.jpg" alt="image">
                                                <a href="#" class="flash bg-theme1 white px-3 py-2" tabindex="0"><i class="fa fa-flash"></i></a>
                                                <div class="trend-meta d-flex align-items-center justify-content-between">
                                                    <div class="entry-author">
                                                        <img src="images/reviewer/2.jpg" alt="" class="rounded-circle me-1">
                                                        <span>Jenny Lofar</span>
                                                    </div>
                                                    <a href="grid-leftfilter.html" class="tags bg-theme2 white px-3 py-1" tabindex="0">For Rent</a>
                                                </div>
                                            </div>
                                            <div class="trend-content p-4">
                                                <h5 class="theme">Apartment</h5>
                                                <h4><a href="detail-rightside.html" tabindex="0">7012 Shine Sehu Street, Liverpool London, LC345AC</a></h4>
                                                <div class="entry-meta d-flex align-items-center justify-content-between border-b pb-1 mb-2">
                                                    <div class="entry-author">
                                                        <p>Start From<span class="d-block theme fw-bold">$63,000.00</span></p>
                                                        
                                                    </div>
                                                    <div class="entry-metalist d-flex align-items-center">
                                                        <ul>
                                                            <li class="me-2"><i class="fa fa-eye"></i></li>
                                                            <li class="me-2"><i class="fa fa-heart"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <p class="mb-0">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</p>
                                            </div>
                                            <ul class="d-flex align-items-center justify-content-between bg-grey p-3 px-4">
                                                <li class="me-2"><i class="fa fa-eye"></i> 3 Beds</li>
                                                <li class="me-2"><i class="fa fa-heart"></i> 2 Baths</li>
                                                <li><i class="fa fa-comments"></i> 600 Sq Ft</li>
                                            </ul>
                                        </div>
                                    </div><div class="slick-slide" data-slick-index="1" aria-hidden="true" tabindex="-1" style="width: 410px;">
                                        <div class="trend-item box-shadow">
                                            <div class="trend-image">
                                                <img src="images/trending/trending2.jpg" alt="image">
                                                <a href="#" class="flash bg-theme1 white px-3 py-2" tabindex="-1"><i class="fa fa-flash"></i></a>
                                                <div class="trend-meta d-flex align-items-center justify-content-between">
                                                    <div class="entry-author">
                                                        <img src="images/reviewer/2.jpg" alt="" class="rounded-circle me-1">
                                                        <span>Jenny Lofar</span>
                                                    </div>
                                                    <a href="grid-leftfilter.html" class="tags bg-theme2 white px-3 py-1" tabindex="-1">For Rent</a>
                                                </div>
                                            </div>
                                            <div class="trend-content p-4">
                                                <h5 class="theme">Villa</h5>
                                                <h4><a href="detail-rightside.html" tabindex="-1">1244 Vansh Market, Mise Mizkel Australia, AU456HA</a></h4>
                                                <div class="entry-meta d-flex align-items-center justify-content-between border-b pb-1 mb-2">
                                                    <div class="entry-author">
                                                        <p>Start From<span class="d-block theme fw-bold">$52,000.00</span></p>
                                                        
                                                    </div>
                                                    <div class="entry-metalist d-flex align-items-center">
                                                        <ul>
                                                            <li class="me-2"><i class="fa fa-eye"></i></li>
                                                            <li class="me-2"><i class="fa fa-heart"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <p class="mb-0">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</p>
                                            </div>
                                            <ul class="d-flex align-items-center justify-content-between bg-grey p-3 px-4">
                                                <li class="me-2"><i class="fa fa-eye"></i> 3 Beds</li>
                                                <li class="me-2"><i class="fa fa-heart"></i> 2 Baths</li>
                                                <li><i class="fa fa-comments"></i> 600 Sq Ft</li>
                                            </ul>
                                        </div>
                                    </div><div class="slick-slide slick-cloned" data-slick-index="2" id="" aria-hidden="true" tabindex="-1" style="width: 410px;">
                                        <div class="trend-item box-shadow">
                                            <div class="trend-image">
                                                <img src="images/trending/trending2.jpg" alt="image">
                                                <a href="#" class="flash bg-theme1 white px-3 py-2" tabindex="-1"><i class="fa fa-flash"></i></a>
                                                <div class="trend-meta d-flex align-items-center justify-content-between">
                                                    <div class="entry-author">
                                                        <img src="images/reviewer/2.jpg" alt="" class="rounded-circle me-1">
                                                        <span>Jenny Lofar</span>
                                                    </div>
                                                    <a href="grid-leftfilter.html" class="tags bg-theme2 white px-3 py-1" tabindex="-1">For Rent</a>
                                                </div>
                                            </div>
                                            <div class="trend-content p-4">
                                                <h5 class="theme">Apartment</h5>
                                                <h4><a href="detail-rightside.html" tabindex="-1">7012 Shine Sehu Street, Liverpool London, LC345AC</a></h4>
                                                <div class="entry-meta d-flex align-items-center justify-content-between border-b pb-1 mb-2">
                                                    <div class="entry-author">
                                                        <p>Start From<span class="d-block theme fw-bold">$63,000.00</span></p>
                                                        
                                                    </div>
                                                    <div class="entry-metalist d-flex align-items-center">
                                                        <ul>
                                                            <li class="me-2"><i class="fa fa-eye"></i></li>
                                                            <li class="me-2"><i class="fa fa-heart"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <p class="mb-0">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</p>
                                            </div>
                                            <ul class="d-flex align-items-center justify-content-between bg-grey p-3 px-4">
                                                <li class="me-2"><i class="fa fa-eye"></i> 3 Beds</li>
                                                <li class="me-2"><i class="fa fa-heart"></i> 2 Baths</li>
                                                <li><i class="fa fa-comments"></i> 600 Sq Ft</li>
                                            </ul>
                                        </div>
                                    </div><div class="slick-slide slick-cloned" data-slick-index="3" id="" aria-hidden="true" tabindex="-1" style="width: 410px;">
                                        <div class="trend-item box-shadow">
                                            <div class="trend-image">
                                                <img src="images/trending/trending2.jpg" alt="image">
                                                <a href="#" class="flash bg-theme1 white px-3 py-2" tabindex="-1"><i class="fa fa-flash"></i></a>
                                                <div class="trend-meta d-flex align-items-center justify-content-between">
                                                    <div class="entry-author">
                                                        <img src="images/reviewer/2.jpg" alt="" class="rounded-circle me-1">
                                                        <span>Jenny Lofar</span>
                                                    </div>
                                                    <a href="grid-leftfilter.html" class="tags bg-theme2 white px-3 py-1" tabindex="-1">For Rent</a>
                                                </div>
                                            </div>
                                            <div class="trend-content p-4">
                                                <h5 class="theme">Villa</h5>
                                                <h4><a href="detail-rightside.html" tabindex="-1">1244 Vansh Market, Mise Mizkel Australia, AU456HA</a></h4>
                                                <div class="entry-meta d-flex align-items-center justify-content-between border-b pb-1 mb-2">
                                                    <div class="entry-author">
                                                        <p>Start From<span class="d-block theme fw-bold">$52,000.00</span></p>
                                                        
                                                    </div>
                                                    <div class="entry-metalist d-flex align-items-center">
                                                        <ul>
                                                            <li class="me-2"><i class="fa fa-eye"></i></li>
                                                            <li class="me-2"><i class="fa fa-heart"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <p class="mb-0">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</p>
                                            </div>
                                            <ul class="d-flex align-items-center justify-content-between bg-grey p-3 px-4">
                                                <li class="me-2"><i class="fa fa-eye"></i> 3 Beds</li>
                                                <li class="me-2"><i class="fa fa-heart"></i> 2 Baths</li>
                                                <li><i class="fa fa-comments"></i> 600 Sq Ft</li>
                                            </ul>
                                        </div>
                                    </div></div></div>
                                    
                                </div>
                            </div>
                        </div>

                        <div class="sidebar-item top-post">
                            <h3>Popular Destination</h3>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 mb-4">
                                    <div class="trend-item">
                                        <div class="trend-image">
                                            <img src="images/destination/destination13.jpg" alt="image">
                                            <div class="trend-content pt-2">
                                                <h6 class="mb-0"><a href="listing-leftfilter.html">Los Angeles</a></h6>
                                                <span>28 Properties</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 mb-4">
                                    <div class="trend-item">
                                        <div class="trend-image">
                                            <img src="images/destination/destination14.jpg" alt="image">
                                            <div class="trend-content pt-2">
                                                <h6 class="mb-0"><a href="listing-leftfilter.html">New York</a></h6>
                                                <span>45 Properties</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 mb-4">
                                    <div class="trend-item">
                                        <div class="trend-image">
                                            <img src="images/destination/destination15.jpg" alt="image">
                                            <div class="trend-content pt-2">
                                                <h6 class="mb-0"><a href="listing-leftfilter.html">Florida</a></h6>
                                                <span>32 Properties</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="trend-item">
                                        <div class="trend-image">
                                            <img src="images/destination/destination16.jpg" alt="image">
                                            <div class="trend-content pt-2">
                                                <h6 class="mb-0"><a href="listing-leftfilter.html">Texas</a></h6>
                                                <span>51 Properties</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>









{% endblock %}