{% load static %}
<div class="sidebar-header">
    <div>
        <img src={% static "adminapp/assets/images/logo-icon-2.png" %} class="logo-icon" alt="logo icon">
    </div>
    <div>
        <h4 class="logo-text">Real Estate App</h4>
    </div>
</div>
<ul class="metismenu" id="menu">
    <li>
        <a href="{% url 'index' %}">
            <div class="parent-icon">
                <ion-icon name="home-outline"></ion-icon>
            </div>
            <div class="menu-title">Dashboard</div>
        </a>
    </li>
    <li>
        <a href="{% url 'estates' %}">
            <div class="parent-icon">
                <ion-icon name="home-outline"></ion-icon>
            </div>
            <div class="menu-title">Estates</div>
        </a>
    </li>
    <li>
        <a href="{% url 'import_operations' %}">
            <div class="parent-icon">
                <ion-icon name="home-outline"></ion-icon>
            </div>
            <div class="menu-title">Import Address CSV</div>
        </a>
    </li>
    <li>
        <a class="has-arrow" href="javascript:;">
            <div class="parent-icon">
                <ion-icon name="newspaper-outline"></ion-icon>
            </div>
            <div class="menu-title">Model Operations</div>
        </a>
        <ul>
            <li>
                <a href="{% url 'create_estate_type' %}">
                    <ion-icon name="ellipse-outline"></ion-icon>Estate Type
                </a>
            </li>
            <li>
                <a href="{% url 'create_estate_status' %}">
                    <ion-icon name="ellipse-outline"></ion-icon>Estate Status
                </a>
            </li>
            <li>
                <a href="{% url 'create_from_who' %}">
                    <ion-icon name="ellipse-outline"></ion-icon>From Who
                </a>
            </li>
            <li>
                <a href="{% url 'create_room_count' %}">
                    <ion-icon name="ellipse-outline"></ion-icon>Room Count
                </a>
            </li>
        </ul>
    </li>
</ul>