{% load static %}
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <img alt="image" class="rounded-circle" src="{% static 'adminapp/img/profile_small.jpg' %}"/>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold">{{user.username}}</span>
                        <span class="text-muted text-xs block">{{user.email}} <b class="caret"></b></span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a class="dropdown-item" href="{% url 'user_profile' %}">Profilim</a></li>
                        <li><a class="dropdown-item" href="">Emlak Ofisim</a></li>
                    </ul>
                </div>
                <div class="logo-element">IN+</div>
            </li>
            {% if request.user.is_superuser %}
            <li class="{% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}">
                <a href="{% url 'dashboard' %}"><i class="fa fa-diamond"></i> <span class="nav-label">Dashboard</span></a>
            </li>
            <li class="{% if request.resolver_match.url_name == 'estate_list' %}active{% endif %}">
                <a href="{% url 'estate_list' %}"><i class="fa fa-diamond"></i> <span class="nav-label">Emlak Listesi</span></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-shopping-cart"></i> <span class="nav-label">Üye İşlemleri</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="{% url 'estate_offices' %}">Emlak Ofisleri</a></li>
                    <li><a href="{% url 'estate_agents' %}">Emlakcılar</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-shopping-cart"></i> <span class="nav-label">Model Operasyonları</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="{% url 'import_operations' %}">Import Address Data</a></li>
                    <li><a href="{% url 'create_estate_type' %}">Estate Type</a></li>
                    <li><a href="{% url 'create_estate_status' %}">Estate Status</a></li>
                    <li><a href="{% url 'create_from_who' %}">From Who</a></li>
                    <li><a href="{% url 'create_room_count' %}">Room Count</a></li>
                </ul>
            </li> 
            {% else %}
            <li class="{% if request.resolver_match.url_name == 'index' %}active{% endif %}">
                <a href="{% url 'index' %}"><i class="fa fa-diamond"></i> <span class="nav-label">Panel</span></a>
            </li>
            <li class="{% if request.resolver_match.url_name == 'estates' %}active{% endif %}">
                <a href="{% url 'estates' %}"><i class="fa fa-diamond"></i> <span class="nav-label">Mülkler</span></a>
            </li>
            <li class="{% if request.resolver_match.url_name == 'owners' %}active{% endif %}">
                <a href="{% url 'owners' %}"><i class="fa fa-diamond"></i> <span class="nav-label">Mülk Sahipleri</span></a>
            </li>
            <li class="{% if request.resolver_match.url_name == 'buyers' %}active{% endif %}">
                <a href="{% url 'buyers' %}"><i class="fa fa-diamond"></i> <span class="nav-label">Mülk Alanlar</span></a>
            </li>
            <li class="{% if request.resolver_match.url_name == 'renters' %}active{% endif %}">
                <a href="{% url 'renters' %}"><i class="fa fa-diamond"></i> <span class="nav-label">Kiracılar</span></a>
            </li>
            {% endif %}
            <li class="special_link">
                <a href="{% url 'h_index' %}"><i class="fa fa-database"></i> <span class="nav-label">Go Site</span></a>
            </li>
        </ul>
    </div>
</nav>