<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
</head>

<body>



    <div>
        <input class="form-control" type="search" placeholder="aaa" name="search_input" hx-get="{% url 'search_input' %}" hx-trigger="keyup changed delay:500ms, search" hx-target="#search" hx-on:error="alert('Arama hatası oluştu.')">
    </div>

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>username</th>
                </tr>
            </thead>
            <tbody id="search">
             </tbody>
        </table>
    </div>


</body>

</html>