{% load static %}
<!-- 

 +--^----------,--------,-----,--------^-,
 | |||||||||   `--------'     |          O      NONCOM_07
 `+---------------------------^----------|
   `\_,---------,---------,--------------'
     / XXXXXX /'|       /'
    / XXXXXX /  `\    /'
   / XXXXXX /`-------'
  / XXXXXX /
 / XXXXXX /
(________(                
 `------'  
                                   
 -->
 
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Real Estate Admin</title>
    {% include "adminapp/partials/_csspartial.html" %}
</head>

<body>
    <div id="wrapper">
        {% include "adminapp/partials/_navbarpartial.html" %}
        <div id="page-wrapper" class="gray-bg dashbard-1">
            {% include "adminapp/partials/_headpartial.html" %}
            {% block content %}{% endblock %}
        </div>
    </div>
    {% include "adminapp/partials/_scriptpartial.html" %}
    {% block script %}{% endblock %}
</body>

</html>