{% load static %}
<!doctype html>
<html lang="en" class="semi-dark hydrated color-header headercolor7">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin</title>
    {% include "adminapp/partials/_csspartial.html" %}
    {% block css %}{% endblock %}
</head>

<body>
    <div class="wrapper">
        <aside class="sidebar-wrapper" data-simplebar="true">
            {% include "adminapp/partials/_asidepartial.html" %}
        </aside>
        <header class="top-header">
            {% include "adminapp/partials/_headerpartial.html" %}
        </header>
        <div class="page-content-wrapper">
            {% block content %}{% endblock %}
        </div>
        <div class="overlay nav-toggle-icon"></div>
    </div>
    {% include "adminapp/partials/_jspartial.html" %}
    {% block script %}{% endblock %}
    
    {% if messages %}
    {% for message in messages %}
    <script>        
        toastr.{{message.tags}} ("{{message}}")
    </script>
    {% endfor %}
    {% endif %}
</body>

</html>