{% extends "adminapp/_layout.html" %}
{% load static %}
{% block content %}
<form method="post" enctype="multipart/form-data">{% csrf_token %}
    <div class="row mt-3">
        <div class="col-lg-7">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Create New Estate</h5>
                </div>
                <div class="ibox-content">
                    <div class="form-group  row"><label class="col-sm-2 col-form-label">{{form.title.label}}</label>
                        <div class="col-sm-10">
                            {{form.title}}
                            {{form.title.errors}}
                        </div>
                    </div>
                    <div class="form-group  row"><label
                            class="col-sm-2 col-form-label">{{form.estate_status.label}}</label>
                        <div class="col-sm-10">
                            {{form.estate_status}}
                            {{form.estate_status.errors}}
                        </div>
                    </div>
                    <div class="form-group  row"><label
                            class="col-sm-2 col-form-label">{{form.estate_type.label}}</label>
                        <div class="col-sm-10">
                            {{form.estate_type}}
                            {{form.estate_type.errors}}
                        </div>
                    </div>
                    <div class="form-group  row"><label class="col-sm-2 col-form-label">{{form.price.label}}</label>
                        <div class="col-sm-10">
                            {{form.price}}
                            {{form.price.errors}}
                        </div>
                    </div>
                    <div class="form-group  row"><label class="col-sm-2 col-form-label">{{form.m2_brut.label}}</label>
                        <div class="col-sm-10">
                            {{form.m2_brut}}
                            {{form.m2_brut.errors}}
                        </div>
                    </div>
                    <div class="form-group  row"><label class="col-sm-2 col-form-label">{{form.m2_net.label}}</label>
                        <div class="col-sm-10">
                            {{form.m2_net}}
                            {{form.m2_net.errors}}
                        </div>
                    </div>
                    <div class="form-group  row"><label
                            class="col-sm-2 col-form-label">{{form.room_count.label}}</label>
                        <div class="col-sm-10">
                            {{form.room_count}}
                            {{form.room_count.errors}}
                        </div>
                    </div>
                    <div class="form-group  row"><label
                            class="col-sm-2 col-form-label">{{form.building_years.label}}</label>
                        <div class="col-sm-10">
                            {{form.building_years}}
                            {{form.building_years.errors}}
                        </div>
                    </div>
                    <div class="form-group  row"><label
                            class="col-sm-2 col-form-label">{{form.location_floor.label}}</label>
                        <div class="col-sm-10">
                            {{form.location_floor}}
                            {{form.location_floor.errors}}
                        </div>
                    </div>
                    <div class="form-group  row"><label
                            class="col-sm-2 col-form-label">{{form.building_floor.label}}</label>
                        <div class="col-sm-10">
                            {{form.building_floor}}
                            {{form.building_floor.errors}}
                        </div>
                    </div>
                    <div class="form-group  row"><label class="col-sm-2 col-form-label">{{form.heating.label}}</label>
                        <div class="col-sm-10">
                            {{form.heating}}
                            {{form.heating.errors}}
                        </div>
                    </div>
                    <div class="form-group  row"><label
                            class="col-sm-2 col-form-label">{{form.bathrooms_count.label}}</label>
                        <div class="col-sm-10">
                            {{form.bathrooms_count}}
                            {{form.bathrooms_count.errors}}
                        </div>
                    </div>
                    <div class="form-group  row"><label
                            class="col-sm-2 col-form-label">{{form.is_balcony.label}}</label>
                        <div class="col-sm-10">
                            {{form.is_balcony}}
                            {{form.is_balcony.errors}}
                        </div>
                    </div>
                    <div class="form-group  row"><label
                            class="col-sm-2 col-form-label">{{form.is_with_firniture.label}}</label>
                        <div class="col-sm-10">
                            {{form.is_with_firniture}}
                            {{form.is_with_firniture.errors}}
                        </div>
                    </div>
                    <div class="form-group  row"><label
                            class="col-sm-2 col-form-label">{{form.using_status.label}}</label>
                        <div class="col-sm-10">
                            {{form.using_status}}
                            {{form.using_status.errors}}
                        </div>
                    </div>
                    <div class="form-group  row"><label
                            class="col-sm-2 col-form-label">{{form.within_site.label}}</label>
                        <div class="col-sm-10">
                            {{form.within_site}}
                            {{form.within_site.errors}}
                        </div>
                    </div>
                    <div class="form-group  row"><label class="col-sm-2 col-form-label">{{form.site_name.label}}</label>
                        <div class="col-sm-10">
                            {{form.site_name}}
                            {{form.site_name.errors}}
                        </div>
                    </div>
                    <div class="form-group  row"><label class="col-sm-2 col-form-label">{{form.dues.label}}</label>
                        <div class="col-sm-10">
                            {{form.dues}}
                            {{form.dues.errors}}
                        </div>
                    </div>
                    <div class="form-group  row"><label
                            class="col-sm-2 col-form-label">{{form.is_available_for_loan.label}}</label>
                        <div class="col-sm-10">
                            {{form.is_available_for_loan}}
                            {{form.is_available_for_loan.errors}}
                        </div>
                    </div>
                    <div class="form-group  row"><label
                            class="col-sm-2 col-form-label">{{form.deed_status.label}}</label>
                        <div class="col-sm-10">
                            {{form.deed_status}}
                            {{form.deed_status.errors}}
                        </div>
                    </div>
                    <div class="form-group  row"><label class="col-sm-2 col-form-label">{{form.from_who.label}}</label>
                        <div class="col-sm-10">
                            {{form.from_who}}
                            {{form.from_who.errors}}
                        </div>
                    </div>
                    <div class="form-group  row"><label class="col-sm-2 col-form-label">{{form.change.label}}</label>
                        <div class="col-sm-10">
                            {{form.change}}
                            {{form.change.errors}}
                        </div>
                    </div>
                    <div class="form-group  row"><label class="col-sm-2 col-form-label">{{form.city.label}}</label>
                        <div class="col-sm-10">
                            {{form.city}}
                            {{form.city.errors}}
                        </div>
                    </div>
                    <div class="form-group  row"><label class="col-sm-2 col-form-label">İlçe</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="county" name="county">
                            </select>
                        </div>
                    </div>
                    <div class="form-group  row"><label class="col-sm-2 col-form-label">Semt</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="region" name="region">
                            </select>
                        </div>
                    </div>
                    <div class="form-group  row"><label class="col-sm-2 col-form-label">{{form.address.label}}</label>
                        <div class="col-sm-10">
                            {{form.address}}
                            {{form.address.errors}}
                        </div>
                    </div>
                    <div class="form-group  row"><label
                            class="col-sm-2 col-form-label">{{form.description.label}}</label>
                        <div class="col-sm-10">
                            {{form.description}}
                            {{form.description.errors}}
                        </div>
                    </div>
                    <div class="form-group  row"><label class="col-sm-2 col-form-label">Resimler</label>
                        <div class="col-sm-10">
                            <input type="file" name="image" id="imgInput" multiple required>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group row">
                        <div class="col-sm-4 col-sm-offset-2">
                            <button class="btn btn-white btn-sm" type="submit">Cancel</button>
                            <button class="btn btn-primary btn-sm" type="submit">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Estate Owner</h5>
                </div>
                <div class="ibox-content">
                    <div class="form-group  row"><label class="col-sm-2 col-form-label">Name Surname</label>
                        <div class="col-sm-10">
                            <input type="text" name="name_surname" class="form-control">
                        </div>
                    </div>
                    <div class="form-group  row"><label class="col-sm-2 col-form-label">Phone</label>
                        <div class="col-sm-10">
                            <input type="tel" name="phone" class="form-control">
                        </div>
                    </div>
                </div>
                <br>
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Estate Images</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="product-images" id="imgDiv">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
{% block script %}
<script>
    $(document).ready(function () {
        $('#imgInput').on('change', function () {
            $('#imgDiv').empty();
            var dosyalar = this.files;
            if (dosyalar && dosyalar.length > 0) {
                $.each(dosyalar, function (index, dosya) {
                    var gorsel = $('<img>').attr('src', URL.createObjectURL(dosya));
                    $('#imgDiv').append(gorsel);
                });
            }
            $('.product-images').slick({
                dots: true,
            });
        })

        $("#id_city").change(function () {
            var selectedId = $(this).val();
            console.log(selectedId)
            $.ajax({
                url: '/web/get_county_by_city_id/' + selectedId + '/',
                method: "GET",
                dataType: "json",
                success: function (data) {
                    $("#county").empty();
                    $("#county").append($("<option>", {
                        value: "0",
                        text: "NULL"
                    }));
                    $.each(data, function (index, value) {
                        $("#county").append($("<option>", {
                            value: value.pk,
                            text: value.county_name
                        }));
                    });
                },
                error: function () {
                    alert("Error!");
                }
            });
        });
        $("#county").change(function () {
            var selectedId = $(this).val();
            console.log(selectedId)
            $.ajax({
                url: '/web/get_region_by_county_id/' + selectedId + '/',
                method: "GET",
                dataType: "json",
                success: function (data) {
                    $("#region").empty();
                    $("#region").append($("<option>", {
                        value: "0",
                        text: "NULL"
                    }));
                    $.each(data, function (index, value) {
                        $("#region").append($("<option>", {
                            value: value.pk,
                            text: value.region_name
                        }));
                    });
                },
                error: function () {
                    alert("Error!");
                }
            });
        });
    });
</script>
{% endblock %}