{% extends "adminapp/_layout.html" %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="row mt-3">
    <div class="col-lg-12">
        <div class="ibox product-detail">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-md-4">
                        <div class="product-images">
                            {% for image in images %}
                            <img style="max-width: 100%; height:auto" src="{{ image.image.url }}">
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h2 class="font-bold m-b-xs">
                            {{estate.title}}
                        </h2>
                        <div class="m-t-md">
                            <div class="row">
                            <div class="col-md-3">
                                <h2 class="product-main-price">
                                    {{estate.price|intcomma}} ₺
                                </h2>
                            </div>
                            <div class="col-md-9 text-right">
                                {% if estate_s|lower == "kiralık" %}
                                    {% if not estate.estate_renter %}
                                        <a href="{% url 'renter_create' pk=estate.pk %}" class="btn btn-success">Kiracı Ekle</a>
                                    {% elif not estate.estate_rent_contrat %}
                                        <a href="{% url 'estate_rent_contrat_create' pk=estate.pk %}" class="btn btn-success">Kira Kontratı Oluştur</a>
                                    {% elif estate.estate_rent_contrat %}
                                        <a href="{% url 'estate_rent_contrat_details' pk=estate.estate_rent_contrat.pk %}" class="btn btn-success">Kira Kontratını Görüntüle</a>
                                        <a href="{% url 'estate_rent_contrat_pdf' pk=estate.estate_rent_contrat.pk %}" class="btn btn-success">Kontratı PDF Olarak İndir</a>
                                        <a href="{% url 'estate_rent_contrat_details' pk=estate.estate_rent_contrat.pk %}" class="btn btn-success">Kontratı Word Olarak İndir</a>
                                        <a href="{% url 'estate_rent_contrat_details' pk=estate.estate_rent_contrat.pk %}" class="btn btn-success">Kontratı Yazdır</a>
                                    {% endif %}
                                {% elif estate_s|lower == "satılık" %}
                                    {% if not estate.estate_buyer %}
                                        <a href="{% url 'buyer_create' pk=estate.pk %}" class="btn btn-success">Alıcı Ekle</a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <h4>Adres</h4>
                                <div class="text-muted">
                                    Daire No:{{estate.apartment_number}} Dış Kapı No:{{estate.exterior_door_number}}<br>
                                    {{estate.address}}<br> 
                                    {{estate.region}} / {{estate.county}} / {{estate.city}}
                                </div><br>
                                <table class="table table-bordred">
                                    <tr>
                                        <th>Emlak Tipi</th>
                                        <td>{{estate.estate_status}} {{estate.estate_type}}</td>
                                    </tr>
                                    <tr>
                                        <th>m² (Brüt)</th>
                                        <td>{{estate.m2_brut}}</td>
                                    </tr>
                                    <tr>
                                        <th>m² (Net)</th>
                                        <td>{{estate.m2_net}}</td>
                                    </tr>
                                    <tr>
                                        <th>Oda Sayısı</th>
                                        <td>{{estate.room_count}}</td>
                                    </tr>
                                    <tr>
                                        <th>Bina Yaşı</th>
                                        <td>{{estate.building_years}}</td>
                                    </tr>
                                    <tr>
                                        <th>Bulunduğu Kat</th>
                                        <td>{{estate.location_floor}}</td>
                                    </tr>
                                    <tr>
                                        <th>Kat Sayısı</th>
                                        <td>{{estate.building_floor}}</td>
                                    </tr>
                                    <tr>
                                        <th>Isıtma</th>
                                        <td>{{estate.heating}}</td>
                                    </tr>
                                    <tr>
                                        <th>Banyo Sayısı</th>
                                        <td>{{estate.bathrooms_count}}</td>
                                    </tr>
                                    <tr>
                                        <th>Balkon</th>
                                        <td>{{estate.is_balcony}}</td>
                                    </tr>
                                    <tr>
                                        <th>Eşyalı</th>
                                        <td>{{estate.is_with_firniture}}</td>
                                    </tr>
                                    <tr>
                                        <th>Kullanım Durumu</th>
                                        <td>{{estate.using_status}}</td>
                                    </tr>
                                    <tr>
                                        <th>Site İçerisinde</th>
                                        <td>{{estate.within_site}}</td>
                                    </tr>
                                    <tr>
                                        <th>Site Adı</th>
                                        <td>{{estate.site_name}}</td>
                                    </tr>
                                    <tr>
                                        <th>Aidat</th>
                                        <td>{{estate.dues|intcomma}} ₺</td>
                                    </tr>
                                    <tr>
                                        <th>Krediye Uygun</th>
                                        <td>{{estate.is_available_for_loan}}</td>
                                    </tr>
                                    <tr>
                                        <th>Tapu Durumu</th>
                                        <td>{{estate.deed_status}}</td>
                                    </tr>
                                    <tr>
                                        <th>Kimden</th>
                                        <td>{{estate.from_who}}</td>
                                    </tr>
                                    <tr>
                                        <th>Takas</th>
                                        <td>{{estate.change}}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-5">
                                    <h4>Description</h4>
                                    <div class="text-muted">
                                        {{estate.description}}
                                    </div>
                                </div>
                                {% if estate.estate_owner %}
                                <div class="contact-box">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h3><i class="fa fa-address-card"></i> Ev Sahibi</h3>
                                            </div>
                                            <div class="col-md-6 text-right">
                                                <form action="{% url 'owner_update' pk=estate.estate_owner.pk %}">{% csrf_token %}
                                                    <input type="hidden" name="estate_pk" value="{{estate.pk}}">
                                                    <button class="btn btn-primary btn-sm"><i class="fa fa-edit"></i> Ev Sahibi Bilgilerini Güncelle</button>
                                                </form>
                                            </div>
                                        </div>
                                        <hr>
                                        <p><i class="fa fa-user"></i> {{estate.estate_owner.name_surname}}</p>
                                        <a href="tel:{{estate.estate_owner.phone}}"><i class="fa fa-phone"></i> {{estate.estate_owner.phone}}</a><br>
                                        <a href="tel:{{estate.estate_owner.address}}"><i class="fa fa-map-marker"></i> {{estate.estate_owner.address}}</a><br>
                                    </div>
                                </div>
                                {% endif %}

                                {% if estate.estate_renter %}
                                <div class="contact-box">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h3><i class="fa fa-address-card"></i> Kiracı</h3>
                                            </div>
                                            <div class="col-md-6 text-right">
                                                <form action="{% url 'renter_update' pk=estate.estate_renter.pk %}">{% csrf_token %}
                                                    <input type="hidden" name="estate_pk" value="{{estate.pk}}">
                                                    <button class="btn btn-primary btn-sm"><i class="fa fa-edit"></i> Kiracı Bilgilerini Güncelle</button>
                                                </form>
                                            </div>
                                        </div>
                                        <hr>
                                        <p><i class="fa fa-user"></i> {{estate.estate_renter.name_surname}}</p>
                                        <a href="tel:{{estate.estate_renter.phone}}"><i class="fa fa-phone"></i> {{estate.estate_renter.phone}}</a><br>
                                        <a href="tel:{{estate.estate_renter.address}}"><i class="fa fa-map-marker"></i> {{estate.estate_renter.address}}</a><br>
                                    </div>
                                </div>
                                {% endif %}

                                {% if estate.estate_buyer %}
                                <div class="contact-box">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h3><i class="fa fa-address-card"></i> Satın Alan</h3>
                                            </div>
                                            <div class="col-md-6 text-right">
                                                <form action="{% url 'buyer_update' pk=estate.estate_buyer.pk %}">{% csrf_token %}
                                                    <input type="hidden" name="estate_pk" value="{{estate.pk}}">
                                                    <button class="btn btn-primary btn-sm"><i class="fa fa-edit"></i> Satın Alan Bilgilerini Güncelle</button>
                                                </form>
                                            </div>
                                        </div>
                                        <hr>
                                        <p><i class="fa fa-user"></i> {{estate.estate_buyer.name_surname}}</p>
                                        <a href="tel:{{estate.estate_buyer.phone}}"><i class="fa fa-phone"></i> {{estate.estate_buyer.phone}}</a><br>
                                        <a href="tel:{{estate.estate_buyer.address}}"><i class="fa fa-map-marker"></i> {{estate.estate_buyer.address}}</a><br>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <hr>
                        <div>
                            <div class="btn-group">
                                <a href="{% url 'estate_update' pk=estate.pk %}" class="btn btn-primary btn-sm" id="update-estate-btn"><i class="fa fa-edit"></i> Update Estate</a>
                                <a href="{% url 'estate_delete' pk=estate.pk %}" class="btn btn-danger btn-sm" id="delete-estate-btn"><i class="fa fa-trash"></i> Delete Estate</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    $(document).ready(function (e) {
        $('.product-images').slick({
            dots: true,
        });

        $(document).ready(function () {
            $("#delete-estate-btn").click(function (e) {
                e.preventDefault(); // Varsayılan tıklama davranışını engelle

                Swal.fire({
                    title: 'Bu kaydı silmek istediğinize emin misiniz?',
                    text: "Silme işlemi geri alınamaz!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Sil',
                    cancelButtonText: 'Vazgeç'
                }).then((result) => {
                    if (result.isConfirmed) {
                        Swal.fire({
                            title: 'Silmek üzeresiniz!',
                            text: 'Bu işlem geri döndürülemez. Devam etmek istediğinizden emin misiniz?',
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Evet, eminim!',
                            cancelButtonText: 'Vazgeç'
                        }).then((secondResult) => {
                            if (secondResult.isConfirmed) {
                                window.location.href = $(this).attr("href");
                            }
                        });
                    }
                });
            });
        });
    });
</script>
{% endblock %}