{% extends "adminapp/_layout.html" %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="row mt-3">
    <div class="col-md-12 mb-3">
        <a href="{% url 'estate_create' %}" class="btn btn-primary">Yeni İlan Oluştur</a>
    </div>
    <div class="col-md-12">
        <div class="ibox">
            <div class="ibox-title">
                <h5>Emlak Listesi</h5>
            </div>
            <div class="ibox-content">
                {% if data %}
                <div class="table-responsive">
                    <form id="filter_form">
                        <table class="table">
                            <td>
                                <label>Toplam ilan sayısı: {{total_estate}}</label>
                            </td>
                            <td>
                                <label>Gösterilen ilan sayısı: {{items_per_page}}</label>
                            </td>
                            <td>
                                <label>Göster</label>
                                <select name="view" id="view">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                </select>
                            </td>
                            <td>
                                <label>Sırala</label>
                                <select name="sort" id="sort">
                                    <option value="new-to-old">Yeniden Eskiye</option>
                                    <option value="old-to-new">Eskiden Yeniye</option>
                                </select>
                            </td>
                            <td>
                                <label>Filtre</label>
                                <select name="status" id="status">
                                    <option value="all">Tümünü Göster</option>
                                    <option value="for-sale">Satılık</option>
                                    <option value="for-rent">Kiralık</option>
                                </select>
                            </td>
                        </table>
                    </form>
                    <table class="table table-hover" style="width:100%">
                        <thead>
                            <tr>
                                <th style="width:1%;"></th>
                                <th>Başlık</th>
                                <th>İl / İlçe / Mahalle</th>
                                <th>Oda Sayısı</th>
                                <th>Durumu</th>
                                <th>Fiyat</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in data %}
                            <a href="{% url 'estate_details' pk=item.pk %}">
                                <tr onclick="window.location='{% url 'estate_details' pk=item.pk %}';"
                                    style="cursor: pointer;" style="align-items:center;">
                                    <td><img width="200" src="{{item.image.image.url}}"></td>
                                    <td>{{item.title}}</td>
                                    <td>{{item.city}} / {{item.county}} / {{item.region}}</td>
                                    <td>{{item.room_count}}</td>
                                    <td>
                                        {% if item.estate_rent_contrat %}
                                        Kiralandı (Kontrat Mevcut)
                                        {% elif item.estate_renter %}
                                        Kiralandı
                                        {% else %}
                                        {{item.estate_status}}
                                        {% endif %}
                                    </td>
                                    <td>{{item.price|intcomma}} ₺</td>
                                </tr>
                            </a>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="text-center">
                        <div class="btn-group">
                            {% if data.has_previous %}
                            <a class="btn btn-white" type="button"
                                href="?page={{data.previous_page_number}}{% if view %}&view={{view}}{% endif %}{% if sort %}&sort={{sort}}{% endif %}{% if status %}&status={{status}}{% endif %}">
                                <i class="fa fa-chevron-left"></i>
                            </a>
                            {% endif %}

                            {% for page_num in page_range %}
                            <a class="btn btn-white {% if page_num == data.number %} active {% endif %}" type="button"
                                href="?page={{page_num}}{% if view %}&view={{view}}{% endif %}{% if sort %}&sort={{sort}}{% endif %}{% if status %}&status={{status}}{% endif %}">{{page_num}}</a>
                            {% endfor %}

                            {% if data.has_next %}
                            <a class="btn btn-white" type="button"
                                href="?page={{data.next_page_number}}{% if view %}&view={{view}}{% endif %}{% if sort %}&sort={{sort}}{% endif %}{% if status %}&status={{status}}{% endif %}">
                                <i class="fa fa-chevron-right"></i>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% else %}
                <h4 class="text-danger">Henüz hiç mülk kaydedilmemiş.</h4>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    $(document).ready(function () {
        $("#view, #sort, #status").change(function () {
            $("#filter_form").submit();
        });
        var queryString = window.location.search;
        var params = new URLSearchParams(queryString);
        var view = params.get("view");
        var sort = params.get("sort");
        var status = params.get("status");

        if (view === "" || view === null || view === undefined || (view !== "10" && view !== "20" && view !== "30")) {
            view = 10;
        }
        if (sort === "" || sort === null || sort == undefined || (sort !== "new-to-old" && sort !== "old-to-new")) {
            sort = "new-to-old";
        }
        if (status === "" || status === null || status == undefined || (status !== "for-rent" && status !== "for-sale")) {
            status = "all"
        }

        $("#view").val(view);
        $("#sort").val(sort);
        $("#status").val(status);
    });
</script>
{% endblock %}