{% extends "adminapp/_layout.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="ibox">
            <div class="ibox-content">
                <form method="post" enctype="multipart/form-data">{% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            {{ user_form|crispy }}
                        </div>
                        <div class="col-md-6">
                            {{ group_form|crispy }}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success btn-lg">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}