{% extends "adminapp/_layout.html" %}
{% load static %}
{% block content %}
<div class="row mt-3">
    <div class="col-lg-6">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Create New Estate Status</h5>
            </div>
            <div class="ibox-content">
                <form method="post" action="{% url 'create_estate_status' %}">{% csrf_token %}
                    <div class="form-group  row">
                        <label class="col-sm-2 col-form-label">{{form.estate_status.label}}</label>
                        <div class="col-sm-10">
                            {{form.estate_status}}
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group row">
                        <div class="col-sm-4 col-sm-offset-2">
                            <a href="{% url 'index' %}" class="btn btn-white btn-sm" type="submit">Cancel</a>
                            <button class="btn btn-primary btn-sm" type="submit">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="ibox">
            <div class="ibox-content">
                <button class="btn btn-secondary" id="showEstateStatus">Emlak Statülerini Göster</button>
                <div class="hr-line-dashed"></div>

                <div id="list"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    $(document).ready(function () {
        $("#showEstateStatus").click(function () {
            $.ajax({
                url: "{% url 'show_estate_status' %}",
                method: "GET",
                dataType: "json",
                success: function (response) {
                    var data = response.data;
                    var table = "<table class='table table-bordred'>";
                    table += "<thead><tr><th>Emlak Statüsü</th><th></th><th></th></tr></thead>";
                    table += "<tbody>";
                    $.each(data, function (index, obj) {
                        table += `<tr><td>${obj.estate_status}</td><td><a href="/web/model-operations/update_estate_status/${obj.pk}/">Güncelle</a></td><td><a href="/web/model-operations/delete_estate_status/${obj.pk}/">Sil</a></td></tr>`;
                    });
                    table += "</tbody>";
                    $("#list").html(table)
                },
                error: function (hata) {
                    console.error("Hata: " + hata.statusText);
                },
            });
        });
    });
</script>
{% endblock %}