{% extends "adminapp/_layout.html" %}
{% load static %}
{% block content %}
<div class="page-content">
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header">
                    <h6 class="mb-0">Yeni Emlak Tipi</h6>
                </div>
                <div class="card-body">
                    <form class="row g-3" method="post" action="{% url 'create_estate_type' %}">
                        {% csrf_token %}
                        <div class="col-12">
                            {{form}}
                        </div>
                        <div class="col-12">
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary">Kaydet</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <button class="btn btn-secondary" id="showEstateType">Emlak Tiplerini Göster</button>
            <div id="list"></div>
        </div>
    </div>
</div>
</div>
{% endblock %}
{% block script %}
<script>
    $(document).ready(function () {
        $("#showEstateType").click(function () {
            // AJAX isteği gönder
            $.ajax({
                url: "{% url 'show_estate_type' %}", // Verilerin alınacağı URL
                method: "GET", // GET isteği kullanabilirsiniz, isteğe bağlı olarak POST da kullanabilirsiniz
                dataType: "json", // Sunucudan gelecek veri türü (JSON, XML, vb.)
                success: function (response) {
                    var data = response.data;
                    var table = "<table class='table table-bordred'>";
                    table += "<thead><tr><th>Emlak Tipi</th><th></th><th></th></tr></thead>";
                    table += "<tbody>";
                    $.each(data, function (index, obj) {
                        table += "<tr><td>" + obj.estate_type + "</td><td><a href=''>Güncelle</a></td><td><a href=''>Sil</a></td></tr>";
                    });
                    table += "</tbody>";
                    $("#list").html(table)
                },
                error: function (hata) {
                    // AJAX isteği başarısız olduğunda bu işlev çağrılır
                    console.error("Hata: " + hata.statusText);
                },
            });
        });
    });
</script>
{% endblock %}